* {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
}


/*
*::-moz-selection {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #ef4836;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  color: #fff;
}
*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0px;
}

body,
html {
    height: 100%;
}

a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}

.body {
    font-size: 14px;
}

.wrapper {
    position: relative;
    height: 100%;
}

.left-side {
    background-color: #212121;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 300px;
}

.logo {
    background-color: #ffffff;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.4) inset;
    height: 174px;
    line-height: 160px;
    text-align: center;
}

.left-content {
    text-align: right;
}

.left-content {}

.left-content ul {}

.left-content ul li {
    border-bottom: 1px solid #70a1ff;
    display: block;
    height: 50px;
}

.left-content ul li.active {
    background-color: #70a1ff;
}

.left-content ul li.active a span {
    border-color: #ffffff;
}

.left-content ul li a {
    color: #fff;
    line-height: 50px;
    padding-right: 30px;
    display: block;
    text-decoration: none;
}

.left-content ul li a span {
    border-right: 1px solid #70a1ff;
    color: #ffffff;
    display: inline-block;
    float: left;
    font-size: 20px;
    height: 49px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}

.copyright {
    background-color: #70a1ff;
    bottom: 0;
    color: #ffffff;
    left: 0;
    padding: 20px;
    position: absolute;
    text-align: right;
    width: 100%;
}

.copyright p {
    margin-bottom: 0px;
}

.copyright p a {
    color: #212121;
    font-weight: 700;
}

.copyright p span {
    display: block;
}

.right-side {
    padding-left: 300px;
}

.right-content {
    padding: 50px;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

pre {
    background: url(../img/pre_bg.png);
    line-height: 19px;
    text-align: left;
    padding: 0px;
    margin-top: 35px;
    font-size: 13px;
    margin-bottom: 35px;
}

.content {}

.content a {
    color: #70a1ff;
}

.content h1 {
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 35px;
    margin-bottom: 35px;
    border-bottom: 1px solid #ddd;
}

#one span {
    color: #70a1ff;
}

.content#source {}

.content#source > ul li {}

.content#source > ul li span {
    font-weight: 700;
    display: block;
}

.content#source > ul li > ul {
    padding-left: 25px;
}
.logo h1 {
  padding: 65px 0;
}
.tree-viewer-pd{
	padding:30px;
}
